# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* A copy of a repository on GitHub is called a "fork"
* The xlab and ylabfunctions in R are used to specify appropriate names for the x and y axes
* The ggtitle function in ggplot is used to add a title to a plot.

Some of the popular languages that Data Scientists use are:
1. SQL 
2. R
3. Python

Some ofthe commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| PyCharm            |

### Arithmetic Expression Examples
#### Here are a few examples of arithmetic expressions in Python:

In [14]:
3ccaddition 
print(2+2)

#subtraction 
print(4-2)

#multiplication 
print(3*6)

#division
print(9/3)

4
2
18
3.0

In [16]:
# this a simple arithmetic expression to mutiply then add integers.
print((3*4)+5)

17

In [18]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Auther
Shuyu Zhao